.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1rem;
}
.Cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem; 
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}
